body{
    padding: 0 !important;
}

.customfont{
    padding-top: 5px;
    font-size: 28px;
}

.customcontianer{
    margin: 0;
    padding: 0;
}

.logincontent {
    background: #5499dd;
}

.loginav{
    height: 70px;
    padding: 10px;
    background: url(../imgs/repeat-images.gif) repeat-x;
    background-position: 0 -891px;
    /*border-bottom: 1px solid;*/
}

.logintext{
    padding: 100px 15px 15px 15px;
}

.loginform{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background: white;
    /*height: 260px;*/
}

.loginerror{
    color: red;
}

.loginfooter {
    background: #f7f7f8;
    color: #999999;
    font-size: 11px;
    line-height: 20px;
    /*margin: 105px 0 0 0;*/
    padding: 15px 0;
    text-align: center;
}


.navcommn {
    height: 70px;
    padding: 20px;
    background: url(../imgs/repeat-images.gif) repeat-x;
    background-position: 0 -891px;
    border-bottom: 2px solid;
    border-color: #5499dd;
}

.selectedtab span table.centerImg {
    background: url(../imgs/tab-center-bg.png);
    height: 26px !important;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 0 25px;
}

.indexcontent{
    margin: 5px;
    padding: 10px;
    background-position: 0 -891px;
}

.navleft{
    margin: 10px;
    padding: 10px;
    /*border-right: 2px solid;*/
    border-color: #5499dd;
}

.navright{
    margin: 10px;
    padding: 10px;
}

