{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid indexcontent">
        <div class="row">
            <div class="navleft col-sm-2">
                <div class="list-group">
                    <a href="/index" class="list-group-item">个人信息</a>
                    <a href="/changepwd" class="list-group-item active">修改密码</a>
{#                    <a href="#" class="list-group-item">组织架构</a>#}
                </div>
            </div>
            <div class="navright col-sm-8">
                <form class="form-horizontal loginform" method="post" action="/changepwd/">
                    <div class="form-group">
                        <label class="col-md-3 control-label">域密码策略要求:</label>
                        <div class="col-md-offset-3 control-label" style="text-align: left; padding-left: 30px">
                            <li>密码的最小长度 {{ data.acct_pwd_policy.pwd_length_min }}</li>
                            <li>密码的最长有效期{{ data.acct_pwd_policy.pwd_ttl }}天</li>
                            <li>密码历史 {{ data.acct_pwd_policy.pwd_history_depth }}</li>
                            <li>密码连续输入错误{{ data.acct_pwd_policy.pwd_lockout_threshold }}次数被锁定</li>
                            <li>密码复杂度{{ data.acct_pwd_policy.pwd_complexity_enforced }} (必须同时满足字母、数字、大小写、特殊符号其中三种)</li>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-4">
                            <p class="errortext">{{ err_msg }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">旧密码</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" name="oldpwd" placeholder="旧密码">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">新密码</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" name="newpwd" placeholder="新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">确认新密码</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" name="newpwd2" placeholder="确认新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit" class="btn btn-primary">修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}