{% extends 'base.html' %}

{% block title %}AD自助密码服务{% endblock %}

{% block nav %}
    <div class="container-fluid customcontianer">
        <div class="loginav">
{#            <p class="customfont">AD自助密码服务</p>#}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid customcontianer">
        <div class="row logincontent">
            <div class="col-md-3 col-md-offset-3">
                <div class="logintext">
                    <p class="customfont">AD自助密码服务</p>
                </div>
            </div>
            <div class="col-md-3">
                <form class="form-horizontal loginform" method="post" action="/login/">
                    <div class="form-group">
                        <div class="col-sm-11 col-sm-offset-1 loginerror">
                            {{ uf.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">账号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="账号" name="username">
                            <p class="form-control-static">@eptok.com</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <label>
                                <a href="/forgetpwd">忘记密码?</a>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-primary">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}




