<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADManager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/customstyle.css" %}">
</head>
<body class="none-padding">
<div class="container-fluidg" style="">
    <div class="navi">
{#        {% load static %}#}
{#        <img src="{% static "imgs/logo.png" %}" class="img-thumbnail">#}
        <h2>AD自助密码服务</h2>
    </div>
    <div class="row common-bgcolor">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <div class="logintext">
                    <h2>AD自助密码服务</h2>
                </div>

            </div>
            <div class="col-md-3" style="height: 315px">
                <div class="loginform">
                    {{ uf.errors }}
                    <form class="form-horizontal" method="post" action="/login/">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">账号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="账号" name="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <label>
                                    <a href="/forgetpwd">忘记密码?</a>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="pagefooter">
        请最好使用IE7.0+或FireFox 1.5+，屏幕分辨率最好在1024 x 768或更高<br>
        (C)2002-2017版权所有，银盛集团
    </div>
</div>
{% if form.error %}
{}
{% endif %}
<script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
